opencv-python-headless==4.5.1.48
matplotlib==3.3.3
matplotlib-backend-qtquick==0.0.8
pandas==1.1.5
numpy==1.19.5
Pillow==8.1.0
PyQt5==5.15.2
PyQt5-sip==12.8.1
pytorch-lightning==1.1.4
tensorboard==2.4.0
torch==1.6.0
torchvision==0.7.0
scipy==1.6.0
scikit-image==0.18.1